name: "Semgrep Scan"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  semgrep:
    name: Run Semgrep
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Run semgrep
      uses: returntocorp/semgrep-action@v1
      with:
        publishToken: ${{ secrets.GITHUB_TOKEN }}
